---
import type { CollectionEntry } from "astro:content";

import { getCollection, getEntry, render } from "astro:content";

import LayoutContainer from "@components/LayoutContainer.astro";
import TextPage from "@components/TextPage.astro";
import TitlePage from "@components/TitlePage.astro";

import Layout from "@layouts/Layout.astro";

import "@styles/content.css";

import formatDate from "@utils/format-date";

export async function getStaticPaths() {
  const allNotes = await getCollection("notes");

  const allNotesSlugs = allNotes.map((note: CollectionEntry<"notes">) => {
    return { params: { slug: note.id }, props: { note } };
  });

  return allNotesSlugs;
}

const { note } = Astro.props as { note: CollectionEntry<"notes"> };

const dateFormatted = formatDate(note.data.dateNote);

const entry = await getEntry("notes", note.id);

if (!entry) {
  throw new Error(`Could not find note ${note.id}`);
}

const { Content } = await render(entry);
---

<Layout title={note.data.title}>
  <LayoutContainer class="layout-notes">
    <div class="hero-note">
      <TitlePage>{note.data.title}</TitlePage>
      <time class="hero-note-time" datetime={`${note.data.dateNote}`}
        >{dateFormatted}</time
      >
    </div>
    <div class="layout-notes-content" data-ui-content-renderer>
      <Content
        components={{
          p: TextPage,
        }}
      />
    </div>
  </LayoutContainer>
</Layout>

<style lang="scss">
  .layout-notes {
    @include container-desktop {
      padding-inline: 16px;
    }
  }

  .layout-notes-content {
    max-width: 860px;
    margin-inline: auto;
  }

  .hero-note {
    --title-page-font-size: clamp(2.5rem, 3.5vw, 3rem);
    margin-block-end: 48px;
  }

  .hero-note-figure {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .hero-note-time {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--color-grey-light-1100);

    &:not(:last-child) {
      margin-block-end: 24px;
    }
  }
</style>
