---
import TagPill from "@components/TagPill.astro";

const { cover, slug, tags, title, titleIssue } = Astro.props;
---

<article class="card-note">
  <a href={slug}>
    <figure aria-hidden="true" class="card-figure">
      <img src={cover} />
    </figure>
    <div class="card-content">
      {
        tags?.length > 0 && (
          <div class="card-tags" data-ui-tags={titleIssue ? "issue" : null}>
            {tags.map((tag: string) => (
              <TagPill>{tag}</TagPill>
            ))}
          </div>
        )
      }
      <div>
        <p class="card-title">
          {title}
        </p>
        {titleIssue && <p class="card-issue">{titleIssue}</p>}
      </div>
    </div>
  </a>
  <figure aria-hidden="true" class="card-pattern">
    <img src="/images/pattern.svg" />
  </figure>
  <figure aria-hidden="true" class="card-pattern">
    <img src="/images/pattern.svg" />
  </figure>
</article>

<style lang="scss">
  .card-content {
    grid-area: all;
    padding-block: 24px;
    padding-inline: 24px;
    align-content: flex-end;
    position: relative;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(158, 148, 250, 0) 0%,
      rgba(94, 88, 148, 0.5) 75%
    );

    &:has(.card-tags) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 16px;
    }
  }

  .card-figure {
    aspect-ratio: 1;
    grid-area: all;
    max-width: none;
    width: 100%;
    max-height: 352px;
    height: 100%;
    position: relative;
    z-index: 0;
    overflow: hidden;

    img {
      display: block;
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
      transition: scale 0.3s ease;
    }
  }

  .card-issue {
    font-size: 1.25rem;
    font-weight: 700;
    text-shadow:
      3px 3px 0px var(--color-grey-dark-200),
      -1px -1px 0 var(--color-grey-dark-200),
      1px -1px 0 var(--color-grey-dark-200),
      -1px 1px 0 var(--color-grey-dark-200),
      1px 1px 0 var(--color-grey-dark-200);
  }

  .card-note {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "all";
    gap: 0px;
    border: 2px solid var(--color-grey-dark-200);
    border-radius: 2px;
    position: relative;
    overflow: hidden;

    a {
      display: contents;
      color: var(--color-yellow-grey-100);
    }

    &:not(:first-of-type) {
      background: var(--color-grey-light-50);
    }

    &:first-of-type {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas: "all";

      @include container-desktop {
        grid-area: first;
      }

      .card-content {
        padding-block: 24px;
        padding-inline: 24px;
        align-content: flex-end;
        position: relative;
        z-index: 1;
        background: linear-gradient(
          180deg,
          rgba(158, 148, 250, 0) 0%,
          rgba(94, 88, 148, 0.5) 75%
        );
      }

      .card-title {
        --card-note-title: clamp(1.75rem, 3vw, 2.5rem);
      }
    }

    &:nth-child(7n) {
      @include container-desktop {
        grid-column: 2 / -1;
      }
    }

    &:nth-child(11n) {
      @include container-desktop {
        grid-column: 1 / 3;
      }
    }

    &:hover {
      .card-figure {
        img {
          scale: 1.025;
        }
      }
    }
  }

  .card-pattern {
    position: absolute;
    inset: 0;
    opacity: 0.15;

    &:last-child {
      transform: rotate(180deg);
    }
  }

  .card-tags {
    --tag-pill-font-size: 1rem;
    --tag-pill-background: var(--color-blue-100);

    &[data-ui-tags="issue"] {
      --tag-pill-background: var(--color-pink-100);
    }
  }

  .card-title {
    font-size: var(--card-note-title, clamp(1.75rem, 2.5vw, 2.05rem));
    font-weight: 700;
    text-shadow:
      3px 3px 0px var(--color-grey-dark-200),
      -1px -1px 0 var(--color-grey-dark-200),
      1px -1px 0 var(--color-grey-dark-200),
      -1px 1px 0 var(--color-grey-dark-200),
      1px 1px 0 var(--color-grey-dark-200);

    &:not(:last-child) {
      margin-block-end: 8px;
    }
  }
</style>
